<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 Jiahua Zhang. Site modified from <a href="http://www.allanlab.org">Allan's Lab website</a>.</p>
            		  
            
		</div>
		<div class="col-sm-4">
		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
			jiahua[dot]soop[at]gmail[dot]com<br/>
			COSMIC, UCAR <br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
